/* Estilo general del contenedor */
.search_games_container {
  padding: 0 15px;
  color: #f1f1f1; /* Texto claro */
  border-radius: 15px;
  margin: 20px auto;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  height: 10vh;
  gap: 20px;
}

.search_games_h2 {
  color: #ddd;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* Barra de búsqueda */
.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 700px;
}

.search_bar input {
  flex: 1;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
  outline: none;
}

.search_bar button {
  padding: 10px 20px;
  background-color: #3a86ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.search_bar button:hover {
  background-color: #265bc4;
}

.search_bar button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

/* Error y Carga */
.error_message {
  text-align: center;
  color: #e57373; /* Rojo claro */
  margin-top: 20px;
}

.loading_search {
  text-align: center;
  color: #eeecec; /* Blanco */
  margin-top: 20px;
}

/* Listado de Juegos */
.games_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  justify-items: center;
}

/* Estilo de las tarjetas de los juegos */
.game_card {
  background-color: #242424;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px; /* Altura fija para las tarjetas */
  width: 240px; /* Ancho fijo para las tarjetas */
  overflow: hidden; /* Para evitar que el contenido se desborde */
}

.game_card:hover {
  transform: scale(1.05);
}

/* Imagen dentro de las tarjetas */
.game_card img {
  width: 100%; /* La imagen se ajuste al ancho del contenedor */
  height: 200px; /* Altura fija para la imagen */
  object-fit: contain; /* Ajusta la imagen sin distorsionarla */
  margin-bottom: 10px;
}

/* Estilo del título dentro de la tarjeta */
.game_card h3 {
  font-size: 1.2rem;
  color: #d4d4d4;
  margin: 10px 0;
}

/* Estilo del precio dentro de la tarjeta */
.game_card .price {
  font-size: 1.1rem;
  color: #1df600;
  font-weight: bold;
  margin: 10px 0;
}

.price_record {
  color: #7baeff;
}

/* Estilo del botón dentro de la tarjeta */
.game_card button {
  padding: 10px;
  background-color: #3a86ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto; /* Asegura que el botón esté al final de la tarjeta */
}

.game_card button:hover {
  background-color: #265bc4;
}

.game_card button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

/* Detalles del juego */
.game_details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: center; /* Centra el contenido verticalmente */
  width: 100%;
  text-align: center; /* Asegura que el texto esté centrado */
  color: #7baeff;
}

.back_button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 200px; /* Asegura que el botón tenga un tamaño adecuado */
  max-width: 100%;
}

.details_content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro de .details_content */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  text-align: center; /* Asegura que los textos estén centrados */
}

.game_image {
  max-width: 80%; /* Limita el ancho máximo a un 80% del contenedor */
  max-height: 450px; /* Limita la altura máxima a 500px */
  width: auto; /* Mantiene la relación de aspecto */
  height: auto; /* Mantiene la relación de aspecto */
  margin-bottom: 15px;
}

.game_info {
  margin-top: 20px;
  max-width: 100%;
}

.stores_grid {
  display: flex;
  justify-content: center; /* Centra los elementos dentro de .stores_grid */
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.stores {
  color: #7baeff;
}

.store_item {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

.store_name {
  font-weight: bold;
  margin-bottom: 5px;
}

.store_link {
  text-decoration: none;
  color: #007bff;
}

.store_link:hover {
  text-decoration: underline;
}

.savings_tag {
  color: #ffab00;
  font-size: 0.9rem;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  .games_list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .game_card {
    height: auto; /* Ajuste para pantallas pequeñas */
  }
}
